<div class="tableToolbar">
    <div class="coll-md-8" id="addInput">
        <div class="coll-md-2">
            <input type="text" class='search' placeholder="接口描述" ng-model="desc">
        </div>
        <div class="coll-md-2">
            <input type="button" class="small-icon search2-icon" value="搜索" ng-click="search()">
            <input type="button" class="small-icon search2" value="搜索">
            <input type="button" class="small-icon reset-icon" reset-icon value="重置" ng-click="query(true)">
            <input type="button" class="small-icon reset" value="重置">
        </div>
    </div>
    <div class="coll-md-2">
        <input type="button" class="bttn pos-right"  ng-click="addApi()" value="新建">
    </div>
</div>
<table>
    <thead>
    <tr>
        <th>接口地址</th>
        <th>描述</th>
        <th>是否需要登录</th>
        <th>支持设备</th>
        <th>线程安全</th>
        <th>锁时长</th>
        <th>日志存储类型</th>
        <th>接口安全等级</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in orderParams">
        <td>{{item.path}}</td>
        <td>{{item.desc}}</td>
        <td>{{item.login}}</td>
        <td>{{item.deviceMod}}</td>
        <td>{{item.serial}}</td>
        <td>{{item.lockTimeout}}</td>
        <td>{{item.storageType}}</td>
        <td>{{item.securityLevel}}</td>
        <td>{{item.created | timeFilter}}</td>
        <td>
            <a ng-click="editApi(item)">编辑</a>
            <a ng-click="delete(item.id)">删除</a>
        </td>
    </tr>
    </tbody>
</table>
<div style="width:100%;display:flex;align-content: center;justify-content:center;" ng-show="bigTotalItems > defaultPageSize">
    <uib-pagination first-text="首页" last-text="末页" previous-text="上一页" next-text="下一页" total-items="bigTotalItems" ng-model="page" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"  ng-change="changePages()"></uib-pagination>
</div>
<modal title="编辑" visible="apiModal">
    <form action="#" class="form-horizontal" role="form" name="apiForm">
        <div class="form-body">
            <div class="scrollArea">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">接口地址</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="api.path" required/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">接口描述</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="api.desc" required/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">是否需要登录</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="api.login" required>
                                    <option value="true">是</option>
                                    <option value="false">否</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">支持设备</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="api.deviceMod" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">线程安全</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="api.serial" required>
                                    <option value="true">是</option>
                                    <option value="false">否</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">锁时长</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" ng-model="api.lockTimeout" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">日志存储类型</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="api.storageType" required>
                                    <option value="NIL">不记录日志</option>
                                    <option value="FILE">文件</option>
                                    <option value="MONGO">数据库</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">接口安全等级</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" ng-model="api.securityLevel" required>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="buttonArea col-md-12">
            <button type="button" class="btn blue" ng-disabled="apiForm.$invalid" data-ng-click="submitApi(addForm.$valid)">提交</button>
        </div>
    </form>
</modal>