<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <!--search-->
                <div class="layui-form layui-card-header" style="padding:15px 0;height: auto">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">人员编号</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" placeholder="作业人员编号" ng-model="searchEntity.id">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">单位编号</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" placeholder="使用单位编号" ng-model="searchEntity.cid">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" ng-click="search()"><i class="layui-icon layui-icon-search"></i></button>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" ng-click="refresh()"><i class="layui-icon layui-icon-refresh"></i></button>
                        </div>
                    </div>
                </div>
                <div class="layui-card-body">
                    <!--<div style="padding-bottom: 10px">-->
                        <!--<button class="layui-btn" data-type="add" data-ng-click="add()">添加</button>-->
                    <!--</div>-->
                    <table class="layui-table" lay-skin="line">
                        <thead>
                        <tr>
                            <th>作业人员编号</th>
                            <th>使用单位编号</th>
                            <th>作业人员名字</th>
                            <th>电话</th>
                            <th>手机</th>
                            <th>地址</th>
                            <th>身份证</th>
                            <th>出生年月</th>
                            <th>学历</th>
                            <th>证书有效期</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in list">
                            <td>{{item.id}}</td>
                            <td>{{item.cid}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.phone}}</td>
                            <td>{{item.mobile}}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.identity}}</td>
                            <td>{{item.birthday}}</td>
                            <td>{{item.education}}</td>
                            <td>{{item.cerExpire}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="page"></div>
                </div>
            </div>
        </div>
    </div>
</div>